fastapi
psutil
pydantic
requests
uvicorn
PyQt6
PyQt6-WebEngine
numpy
SpeechRecognition
PyAudio
edge-tts
mss
pillow
playwright
faster-whisper
soundfile

google-genai
sounddevice
python-jose[cryptography]
passlib[bcrypt]
firebase-admin
python-multipart
